<ion-view title="'Add A Task'">
  <ion-content has-header="true" has-tabs="true">
    <div class="list list-inset">
      <form name="newTask" ng-submit="addTask(task)">
        <label class="item item-input">
          <span class="input-label">Title</span>
          <input type="text" name="title" ng-model="task.title" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Description</span>
          <input type="text" name="description" ng-model="task.description"
            required>
        </label>
        <button class="button button-positive button-block"
          ng-disabled="newTask.$invalid">Add</button>
      </form>
    </div>
  </ion-content>
</ion-view>
